# Copia este archivo a ".env" y pega tu connection string de Neon
# La consigues en tu dashboard de Neon -> Connection Details -> "Pooled connection"
DATABASE_URL=postgresql://usuario:password@ep-xxxxx.neon.tech/neondb?sslmode=require
